In [1]:
import pandas as pd
import numpy as np

All the data is taken from:
https://www.kaggle.com/saife245/english-premier-league

Then, the data was saved and manipulated to better suit the project in this file.

In [2]:
#downloads games data
games_data = pd.read_csv('/Users/mikhail/Desktop/Personal/Machine Learning/archive/games.csv')
copy_games_data = games_data.copy()

In [3]:
games_data.shape

(2660, 13)

In [4]:
games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameID             2660 non-null   int64
 1   leagueID           2660 non-null   int64
 2   season             2660 non-null   int64
 3   date               2660 non-null   object
 4   homeTeamID         2660 non-null   int64
 5   awayTeamID         2660 non-null   int64
 6   homeGoals          2660 non-null   int64
 7   awayGoals          2660 non-null   int64
 8   homeProbability    2660 non-null   float64
 9   drawProbability    2660 non-null   float64
 10  awayProbability    2660 non-null   float64
 11  homeGoalsHalfTime  2660 non-null   int64
 12  awayGoalsHalfTime  2660 non-null   int64
dtypes: float64(3), int64(9), object(1)
memory usage: 270.3+ KB

In [5]:
#gets rid of columns that are not needed
games_data = games_data.drop(columns=['date','season','leagueID'])

In [6]:
games_data

,gameID,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,homeGoalsHalfTime,awayGoalsHalfTime
0,81,89,82,1,0,0.2843,0.3999,0.3158,1,0
1,82,73,71,0,1,0.3574,0.3500,0.2926,0,0
2,83,72,90,2,2,0.2988,0.4337,0.2675,0,1
3,84,75,77,4,2,0.6422,0.2057,0.1521,3,0
4,85,79,78,1,3,0.1461,0.2159,0.6380,0,1
...,...,...,...,...,...,...,...,...,...,...
2655,14810,87,78,2,0,0.7516,0.1730,0.0754,1,0
2656,14811,88,72,5,0,0.7906,0.1483,0.0611,2,0
2657,14812,238,92,1,0,0.2153,0.4670,0.3177,1,0
2658,14813,81,74,3,0,0.5303,0.2337,0.2360,2,0
2659,14814,229,89,1,2,0.0767,0.1725,0.7508,1,2

In [7]:
#downloads data for team statistics per match 
teamstats = pd.read_csv('/Users/mikhail/Desktop/Personal/Machine Learning/archive/teamstats.csv')
copy_teamstats = teamstats.copy()

In [8]:
teamstats.head()

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,08/08/2015 15:45,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,08/08/2015 15:45,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,08/08/2015 18:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L
3,82,71,2015,08/08/2015 18:00,a,1,0.782253,7,3,2,11.8462,13,3,4.0,0,W
4,83,72,2015,08/08/2015 18:00,h,2,0.604226,10,5,5,6.6500,7,8,1.0,0,D

In [9]:
teamstats = teamstats.drop(columns = ['season','date'])

In [10]:
games_id = games_data['gameID']

In [11]:
new_teamstats = pd.DataFrame(columns=teamstats.columns)

In [12]:
new_teamstats = teamstats

In [13]:
#creates 2 new datasets which now have the columns for the home and away games in order to append horizontally to each other
teamstats_home = pd.DataFrame(columns = new_teamstats.columns)
teamstats_away = pd.DataFrame(columns = new_teamstats.columns)

In [14]:
#this separates the home and away matches to later merge them together
for row in range(1, len(new_teamstats)):
    if new_teamstats.iloc[row]['gameID'] == new_teamstats.iloc[row-1]['gameID']:
        teamstats_away = teamstats_away.append(new_teamstats.iloc[row])
        teamstats_home = teamstats_home.append(new_teamstats.iloc[row-1])

In [15]:
merged_teamstats = teamstats_home.merge(teamstats_away, left_on='gameID',right_on='gameID',suffixes=('_home','_away'))

In [16]:
merged_teamstats

,gameID,teamID_home,location_home,goals_home,xGoals_home,shots_home,shotsOnTarget_home,deep_home,ppda_home,fouls_home,...,xGoals_away,shots_away,shotsOnTarget_away,deep_away,ppda_away,fouls_away,corners_away,yellowCards_away,redCards_away,result_away
0,81,89,h,1,0.627539,9,1,4,13.8261,12,...,0.674600,9,4,10,8.2188,12,2,3.0,0,L
1,82,73,h,0,0.876106,11,2,11,6.9000,13,...,0.782253,7,3,2,11.8462,13,3,4.0,0,W
2,83,72,h,2,0.604226,10,5,5,6.6500,7,...,0.557892,11,5,4,17.1579,13,2,2.0,0,D
3,84,75,h,4,2.568030,19,8,5,10.8800,13,...,1.459460,11,5,6,9.5556,17,3,4.0,0,L
4,85,79,h,1,1.130760,17,6,5,5.7368,14,...,2.109750,11,7,10,10.6250,20,4,0.0,0,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12675,16131,168,h,1,1.411190,15,5,17,12.3684,8,...,1.707510,8,5,3,8.3529,11,5,2.0,0,W
12676,16132,177,h,1,1.198190,10,3,3,16.2632,11,...,1.238050,12,5,4,27.0000,6,2,1.0,0,W
12677,16133,163,h,2,1.332690,12,6,10,8.2857,11,...,0.357583,9,2,0,39.7273,10,3,0.0,0,L
12678,16134,175,h,0,1.460500,19,5,6,7.5600,13,...,1.380290,10,2,3,14.7200,10,3,0.0,0,W
12679,16135,225,h,1,0.323960,6,2,1,15.1000,17,...,0.521913,7,1,0,15.9524,9,3,1.0,0,D

In [17]:
merged_gameresult = merged_teamstats['result_home']

In [18]:
#this encoder will change win letters to numbers, meaning that it will be easier to interpret them for the computer. W - 2, D - 1, L - 0 (for home team)
number_clean = { 'W':2,
                'L':0,
                'D':1
}
merged_gameresult = merged_gameresult.replace(number_clean)
merged_gameresult.head()

0    2
1    0
2    1
3    2
4    0
Name: result_home, dtype: int64

In [19]:
#this deletes the current result home column and adds the one that puts number there instead of letters
merged_teamstats['result_home'] = merged_gameresult

In [20]:
merged_teamstats = merged_teamstats.drop(columns=['location_away','location_home','result_away'])

In [21]:
games_data = games_data.drop(columns=['homeGoals','awayGoals'])

In [1]:
#this is the fully merged dataset, final data needed. 
all_merged = games_data.merge(merged_teamstats,left_on='gameID',right_on='gameID')

NameError: name 'games_data' is not defined

In [24]:
#finally, the data that will be useable for the ML algorithm is finished. Now, you can implement the multi level NN in order to see the final result. 
#to clarify, the columns targeted are going to be 'goals_home', 'goals_away', 'result_home'