In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
movie_data = pd.read_csv('IMDB-Movie-Data.csv')
movie_data['movie_id'] = range(0,1000)
movie_data_copy = movie_data.copy()

In [5]:
movie_data.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
movie_id                0
dtype: int64

In [6]:
len(movie_data)

1000

In [7]:
movie_data.head(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,movie_id
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,1

In [8]:
def get_important_features(data):
    important_features = []
    for i in range(0,len(data)):
        important_features.append(data['Title'][i]+' '+data['Genre'][i]+' '+data['Description'][i]+' '+data['Director'][i]+' '+data['Actors'][i])

    return important_features

In [9]:
movie_data['important_features'] = get_important_features(movie_data)

In [10]:
movie_data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,movie_id,important_features
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,0,"Guardians of the Galaxy Action,Adventure,Sci-F..."
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,1,"Prometheus Adventure,Mystery,Sci-Fi Following ..."
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2,"Split Horror,Thriller Three girls are kidnappe..."
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,"Sing Animation,Comedy,Family In a city of huma..."
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,"Suicide Squad Action,Adventure,Fantasy A secre..."

In [11]:
cm = CountVectorizer().fit_transform(movie_data['important_features'])
cm

<1000x9359 sparse matrix of type '<class 'numpy.int64'>'
	with 38547 stored elements in Compressed Sparse Row format>

In [12]:
cs = cosine_similarity(cm)

In [13]:
title = 'The Hobbit: An Unexpected Journey'

movie_id = movie_data[movie_data['Title'] == title]['movie_id'].values[0]

In [14]:
scores = list(enumerate(cs[movie_id]))
sorted_scores = sorted(scores,key=lambda x:x[1], reverse = True)
sorted_scores = sorted_scores[1:]

In [15]:
movie_data = pd.DataFrame(movie_data)
j=0
for item in sorted_scores:
    movie_title = movie_data[movie_data.movie_id==item[0]]['Title'].values[0]
    print(j+1,movie_title)
    j+=1
    if j>6:
        break

1 The Hobbit: The Desolation of Smaug
2 The Hobbit: The Battle of the Five Armies
3 Star Wars: Episode VII - The Force Awakens
4 Percy Jackson & the Olympians: The Lightning Thief
5 The Twilight Saga: Breaking Dawn - Part 2
6 How to Train Your Dragon 2
7 The Last Airbender